@media (min-width: 640px) {
  #menu { display: none; }
  .navigation { display: flex; justify-content: center; background: #400010; flex-direction: row; }
  .card-grid { grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }
  form { padding: 2rem; }
}