* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  height: 100vh;
  grid-template: 0.3fr auto 1fr auto / auto auto 300px;
}

header {
  background: gray;
  padding: 1    rem;
  grid-column: 1 / 4;
}
nav {
  grid-column: 1 / 4;
}

main {
  background: lightgray;
  grid-column: 1 / 3;
  padding: 1rem;
}

.right-sidebar {
  background: white;
  grid-column: 3 / 4;
}

footer {
  background: gray;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

.left-sidebar,
.right-sidebar {
  padding: 1rem;
}
.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: black;
	align-items: center;
}
.navigation li {
	flex: 1 1 auto; /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}
