@media screen and (min-width: 640px) {
  #menu {
    display: none; /* hide hamburger */
  }

  .navigation {
    display: flex;
    justify-content: center;
    background-color: #222;
  }

  .navigation a {
    border: none;
    padding: 1rem 1.5rem;
  }

  main {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}